								/*        Colors        */

$Psycho: 	#CFEB4F;
$Laos: 		#ABC95D;
$Mystic: 	#76B15F;

/* Greens */

$Frisco: 	#D0E3A1;
$Pistachio: #B8D470;
$Neon: 		#9FB92D;
$Guacamole: #7CA72F;
$Valley: 	#487728;
$Toscana: 	#2D4C27;
$Era: 		#1A3319;
$Amazonas: 	#152910; 

		/*        Color Roles        */

$BGcolor: $Frisco;
$HeaderColor: $Pistachio;
$MainBorder: $Neon;

$LightestColor: $Frisco;
$DarkestColor: $Amazonas;

$LinkColor: $Amazonas;
$LinkHoverColor: $Frisco;
$BtnColor: $Frisco;
$BtnHoverColor: $Amazonas;
$MenuBtnColor: $Pistachio;
$MenuBtnHoverColor: $Amazonas;

